* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  background-color: #333333;
  color: white;
  
  select {
    color: white;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  margin: 15px 0px;
  border: 2px solid darkred;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  transform:translateX(-1000px);
}
.post-enter-active {
  transform:translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-1000px);
  transition: all 500ms ease-in;
}

.pageSwitcher {
  display: flex;
  justify-content: space-evenly;

  .current {
    color: #ffffff;
    margin: 25px 10px;
    padding: 5px 15px;
    font-size: 15px;
    border: 2px solid darkred;
    cursor: pointer;
    border-radius: 5px;
  
    &:hover {
      color: darkred;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 20px darkred;
    }
  }
  
  .active {
    color: #ffffff;
    margin: 25px 10px;
    padding: 5px 15px;
    font-size: 15px;
    border: 2px solid darkred;
    cursor: pointer;
    border-radius: 5px;
    color: darkred;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: #585858;
  
  color: #ffffff;
}

.navbar__links {
  margin-left: auto;
}

.post__btns {
  display: flex;
  margin: 5px;
}